body {
  background-color: rgb(238, 238, 238);
}

#calculator {
  background-color: rgb(185, 184, 184);
  /* border: .15rem solid black; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 20rem;
  height: 18rem;
  width: 15rem;
  border-radius: 5px;
  box-shadow: 5px 5px 5px gray;
  padding: .5rem;
}

.calc-row {
  margin: .15rem;
  flex: 0 0 100%;
}

.calc-btn {
  margin: .15rem;
  width: 3rem !important;
}

#clear {
  width: 6.3rem !important;
}

#equals {
  width: 6.3rem !important;
}

#display {
  background-color: rgb(255, 255, 255);
  margin: .25rem .15rem .55rem .15rem;
  padding: .3rem;
  border-radius: 5px;
}
